<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/home.css">
    <title>Mercado Liebre</title>
</head>

<body>
    <header>
        <div class="buscador">
            <img src="img\logo-mercado-liebre.svg" class="logo">
            <section class="search">
                <input type="text" placeholder="barra de busqueda">
                <button><i class="fas fa-search"></i></button>
            </section>
            <h3><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</h3>
        </div>
        <nav class="navGeneral">
            <ul class="navbar">
                <li><a href="/"> Ofertas</a></li>
                <li><a href=""> Tiendas Oficiales</a></li>
                <li><a href=""> Vender</a></li>
                <li><a href=""> Ayuda</a></li>
            </ul>
            <ul class="navbar">
                <li><a href="">Mis compras<i class="fas fa-shopping-basket"></i></a></li>
                <li><a href="/login">Ingresá<i class="fas fa-angle-double-right"></i></a></li>
                <li><a href="/register">Creá tu cuenta<i class="far fa-address-card"></i></a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
        <img src="img\img-home-banner.jpg" class="banner">
    </header>
    <main>
        <section>
            <div class="titulares">
                <h3><b>Sección:Basado en tu ultima visita</b>
                </h3>
            </div>
            <article>
                <div class="imagen">
                    <img src="img\img-cafetera-moulinex.jpg" width="500px">
                </div>
                <div class="descripcion">
                    <div class="camion">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <div class="descripcionSinCamion">
                        <p class="precioProducto">$6.770</p>
                        <p class="descuentoProducto">40% off</p>
                        <p class="descripcionDeProducto">Cafetera Moulinex</p>
                    </div>
                </div>
            </article>
            <article>
                <div class="imagen">
                    <img src="img\img-macbook-pro-2019.jpg" width="500px">
                </div>
                <div class="descripcion">
                    <div class="camion">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <div class="descripcionSinCamion">
                        <p class="precioProducto">$230.000</p>
                        <p class="descuentoProducto">20% off</p>
                        <p class="descripcionDeProducto">MacBook Pro 2019</p>
                    </div>
                </div>
            </article>
            <article>
                <div class="imagen">
                    <img src="img\img-samsung-galaxy-s10.jpg" width="500px">
                </div>
                <div class="descripcion">
                    <div class="camion">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <div class="descripcionSinCamion">
                        <p class="precioProducto">$70.500</p>
                        <p class="descuentoProducto">10% off</p>
                        <p class="descripcionDeProducto">Samsung Galaxy S10</p>
                    </div>
                </div>
            </article>
            <article>
                <div class="imagen">
                    <img src="img\img-tv-samsung-smart.jpg" width="500px">
                </div>
                <div class="descripcion">
                    <div class="camion">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <div class="descripcionSinCamion">
                        <p class="precioProducto">$23.200</p>
                        <p class="descuentoProducto">5% off</p>
                        <p class="descripcionDeProducto">SmartTv Samsung 43"</p>
                    </div>
                </div>
            </article>
        </section>
        <section>
            <ul class="titulares">
                <li>
                    <h3><b>Seccion de ofertas</b></h3>
                </li>
            </ul>
            <article>
                <div class="imagen">
                    <img src="img\img-cafetera-moulinex.jpg" width="500px">
                </div>
                <div class="descripcion">
                    <div class="camion">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <div class="descripcionSinCamion">
                        <p class="precioProducto">$6.770</p>
                        <p class="descuentoProducto">40% off</p>
                        <p class="descripcionDeProducto">Cafetera Moulinex</p>
                    </div>
                </div>
            </article>
            <article>
                <div class="imagen">
                    <img src="img\img-macbook-pro-2019.jpg" width="500px">
                </div>
                <div class="descripcion">
                    <div class="camion">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <div class="descripcionSinCamion">
                        <p class="precioProducto">$230.000</p>
                        <p class="descuentoProducto">20% off</p>
                        <p class="descripcionDeProducto">MacBook Pro 2019</p>
                    </div>
                </div>
            </article>
            <article>
                <div class="imagen">
                    <img src="img\img-samsung-galaxy-s10.jpg" width="500px">
                </div>
                <div class="descripcion">
                    <div class="camion">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <div class="descripcionSinCamion">
                        <p class="precioProducto">$70.500</p>
                        <p class="descuentoProducto">10% off</p>
                        <p class="descripcionDeProducto">Samsung Galaxy S10</p>
                    </div>
                </div>
            </article>
            <article>
                <div class="imagen">
                    <img src="img\img-tv-samsung-smart.jpg">
                </div>
                <div class="descripcion">
                    <div class="camion">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <div class="descripcionSinCamion">
                        <p class="precioProducto">$23.200</p>
                        <p class="descuentoProducto">5% off</p>
                        <p class="descripcionDeProducto">SmartTv Samsung 43"</p>
                    </div>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <div class="footPadre">
            <div class="foot">
                <ul>
                    <li>
                        <i class="fa-solid fa-credit-card"></i>
                        <h3>Pagá con tarjeta o en efectivo</h3>
                    </li>
                </ul>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <div class="foot">
                <ul>
                    <li>
                        <i class="fa-solid fa-gift"></i>
                        <h3>Envío gratis desde $ 2.500</h3>
                    </li>
                </ul>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div class="foot">
                <ul>
                    <li>
                        <i class="fas fa-user-shield"></i>
                        <h3>Seguridad, de principio a fin</h3>
                    </li>
                </ul>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </div>
        </div>
        <ul>
            <li>
                <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
            </li>
        </ul>
    </footer>
</body>

</html>