<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/register.css">
    <title>register</title>
</head>

<body>
    <header>
        <div class="buscador">
            <img src="img\logo-mercado-liebre.svg" class="logo">
            <section class="search">
                <input type="text" placeholder="barra de busqueda">
                <button><i class="fas fa-search"></i></button>
            </section>
            <h3><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</h3>
        </div>
        <nav class="navGeneral">
            <ul class="navbar">
                <li><a href="/"> Ofertas</a></li>
                <li><a href=""> Tiendas Oficiales</a></li>
                <li><a href=""> Vender</a></li>
                <li><a href=""> Ayuda</a></li>
            </ul>
            <ul class="navbar">
                <li><a href="">Mis compras<i class="fas fa-shopping-basket"></i></a></li>
                <li><a href="/login">Ingresá<i class="fas fa-angle-double-right"></i></a></li>
                <li><a href="/register">Creá tu cuenta<i class="far fa-address-card"></i></a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <main>
        <form action="/" method="get">
            <strong><u><label class="titulo"> Datos Personales </label></u></strong>

            <div class="input-text">
                <input type="text" name="nombre" placeholder="Nombre y Apellido" required>
                <span>Los datos ingresados no son correctos</span>
            </div>
            <div class="input-text">
                <input type="text" name="usuario" placeholder="Nombre de usuario" required>
                <span>Los datos ingresados no son correctos</span>
            </div>
            <div class="input-text">
                <input type="password" name="contraseña" placeholder="Contraseña" required>
                <span>Los datos ingresados no son correctos</span>
            </div>
            <div class="input-text">
                <input type="password" name="confirmar contraseña" placeholder="Confirmar Contraseña" required>
                <span>Los datos ingresados no son correctos</span>
            </div>
            <div class="input-text">
                <input type="email" name="email" placeholder="Email">
                <span>Los datos ingresados no son correctos</span>
            </div>
            <strong><u><label class="titulo"> Fecha De Nacimiento </label></u></strong>
            <div class="input-text">
                <input type="date" placeholder="Fecha de Nacimiento" required>
                <span>Los datos ingresados no son correctos</span>
            </div>
            <div class="input-text">
                <input type="text" name="domicilio" placeholder="Domicilio" required>
                <span>Los datos ingresados no son correctos</span>
            </div>
            <strong><u><label class="titulo"> Perfil De Usuario </label></u></strong>
            <div class="separadorRadio">
                <div class="perfilUsuario">
                    <label><input type="radio" name="perfilUsuario" value="Comprador" required> Comprador </label>
                    <span>Los datos ingresados no son correctos</span>
                </div>
                <div class="perfilUsuario">
                    <label><input type="radio" name="perfilUsuario" value="Vendedor" required> Vendedor </label>
                    <span>Los datos ingresados no son correctos</span>
                </div>
            </div>
            <strong><u><label class="titulo"> Intereses </label></u></strong>
            <div class="separadorCheckbox">
                <div class="Intereses">
                    <label><input type="checkbox"> Electro</label>
                </div>
                <div class="Intereses">
                    <label><input type="checkbox"> Moda</label>
                </div>
                <div class="Intereses">
                    <label><input type="checkbox"> Hogar</label>
                </div>
                <div class="Intereses">
                    <label><input type="checkbox"> Juguetería</label>
                </div>
                <div class="Intereses">
                    <label><input type="checkbox"> Vida Sana</label>
                </div>
            </div>
            <div class="imagen">
                <b><label>Seleccionar una imagen</label></b>
                <input type="file" name="avatar" accept=".jpg" multiple>
                <span>Los datos ingresados no son correctos</span>
            </div>
            <div class="enviarRegistro">
                <button type="submit"> Enviar</button>
            </div>
            <div class="reset">
                <button type="reset"> Borrar</button>
            </div>
        </form>
    </main>
    <footer>
        <div class="footPadre">
            <div class="foot">
                <ul>
                    <li>
                        <i class="fa-solid fa-credit-card"></i>
                        <h3>Pagá con tarjeta o en efectivo</h3>
                    </li>
                </ul>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <div class="foot">
                <ul>
                    <li>
                        <i class="fa-solid fa-gift"></i>
                        <h3>Envío gratis desde $ 2.500</h3>
                    </li>
                </ul>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div class="foot">
                <ul>
                    <li>
                        <i class="fas fa-user-shield"></i>
                        <h3>Seguridad, de principio a fin</h3>
                    </li>
                </ul>

                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </div>
        </div>
        <ul>
            <li>
                <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
            </li>
        </ul>
    </footer>
</body>

</html>